@tailwind base;
@tailwind components;
@tailwind utilities;

.t-blue {
  @apply text-blue-400;
}
.t-violet {
  @apply text-purple-400;
}
.t-indigo {
  @apply text-indigo-400;
}


.js-drop-mobile {
  display: none;
}
.js-drop-mobile.active {
  display: block;
}
@font-face {
    font-family: "Open Sans Light";
    src: url('./fonts/OpenSans-Light.woff');
}
.light {
    font-family: "Open Sans Light";
}
@font-face {
    font-family: "Open Sans Medium";
    src: url('./fonts/OpenSans-Medium.woff');
}
.medium {
    font-family: "Open Sans Medium";
}
@font-face {
    font-family: "Open Sans Bold";
    src: url('./fonts/OpenSans-Bold.woff');
}
.bold {
    font-family: "Open Sans Bold";
}
